@model ChangeManagementSystem.Models.ChangeManagementModels

@{
    ViewBag.Title = "Index";
}

<div id="getLoggedUserUrl" data-request-url="@Url.Action("GetLoggedUserInfo", "Cmd")"></div>

<div id="getAllCmdUrl" data-request-url="@Url.Action("GetAllCreated", "Cmd")"></div>

<div id="exportCmdUrl" data-request-url="@Url.Action("ExportCmd", "Cmd")"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="header">
                    <h4 class="title">Change Management Document Records</h4>
                    <p class="category">View, Update or Delete Change Management Document</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped text-center" id="cmdList">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Change Type</th>
                                <th class="text-center">Evaluation</th>
                                <th class="text-center">Target Date</th>
                                <th class="text-center">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="viewCmdUrl" data-request-url="@Url.Action("Find", "Cmd")"></div>
<div class="container-fluid">
    <div class="modal fade" id="viewCmdInfoModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title">View Change Management Document&nbsp;<span id="cmdNoHistory"></span></h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="newChangeDocumentForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeObjectiveView">Objective</label>
                                        <textarea class="form-control form-control-sm" id="changeObjectiveView" name="changeObjectiveView" rows="3" readonly></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeTypeView">Type</label>
                                        <select class="form-control form-control-sm" id="changeTypeView" name="changeTypeView" disabled>
                                            <option value="1">Corrective Patch</option>
                                            <option value="2">New Function</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeRequirementView">Management Requirement</label>
                                        <textarea class="form-control form-control-sm" id="changeRequirementView" name="changeRequirementView" rows="3" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <label style="color: #333; font-size: 15px;">Affected Areas</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="affectedAreasTableView">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Application(s)</th>
                                                    <th class="text-center">Database & Table(s)</th>
                                                    <th class="text-center">Server(s)/ IP(s)</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom: 25px;">
                                    <div class="form-group">
                                        <label for="requestEvaluationView">Request Evaluation</label>
                                        <input type="text" class="form-control form-control-sm" id="requestEvaluationView" name="requestEvaluationView" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="targetImplementationView">Target Implementation Date and Time</label>
                                        <input type="text" class="form-control form-control-sm" id="targetImplementationView" name="targetImplementationView" readonly>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <label style="color: #333; font-size: 15px;">Change Management Sign-off</label>
                            <br /><br />
                            <label style="color: #333; font-size: 13px;">Requestor:</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" id="requestorView" name="requestorView" readonly>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <label style="color: #333; font-size: 13px;">Reviewed by:</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="signOffTableView">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Role</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-fill btn-primary" id="btnGenerate" data-generate-id="">Generate Document</a>
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="updateCmdUrl" data-request-url="@Url.Action("Update", "Cmd")"></div>
<div class="container-fluid">
    <div class="modal fade" id="editCmdInfoModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title">Edit Change Management Document&nbsp;<span id="cmdNoEdit"></span></h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="editChangeDocumentForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeObjectiveEdit">Objective</label>&nbsp;<small class="rem-label"><span class="remainingObjectiveEdit"></span></small>
                                        <textarea class="form-control form-control-sm" id="changeObjectiveEdit" name="changeObjectiveEdit" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group" style="padding: 5px; text-align: center;">
                                        <fieldset class="fieldset">
                                            <legend class="text-left" style="border: none; display: block; width: 100%; font-size: 0px;"><label style="margin-bottom: 8px; text-align: left; color: #333; font-size: 15px;">Type</label></legend>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="ChangeTypeEdit" id="correctivePatchRadioEdit">Corrective Patch</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="ChangeTypeEdit" id="newFunctionRadioEdit">New Function</label>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="changeRequirementEdit">Management Requirement</label>&nbsp;<small class="rem-label"><span class="remainingRequirementsEdit"></span></small>
                                        <textarea class="form-control form-control-sm" id="changeRequirementEdit" name="changeRequirementEdit" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <label style="color: #333; font-size: 15px;">Affected Areas</label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="affectedAreasTableEdit" contenteditable="true">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Application</th>
                                                    <th class="text-center">Database</th>
                                                    <th class="text-center">Server</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <label id='affectedAreaErrorEdit' class='error' style="display: none;">Affected area is required</label>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom: 25px;">
                                    <div class="form-group" style="padding: 5px; text-align: center;">
                                        <fieldset class="fieldset">
                                            <legend class="text-left" style="border: none; display: block; width: 100%; font-size: 0px;"><label style="margin-bottom: 8px; text-align: left; color: #333; font-size: 15px;">Request Evaluation</label></legend>

                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadioEdit" id="highRadioEdit">High</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadioEdit" id="mediumRadioEdit">Medium</label>
                                            <label class="radio-inline" style="text-align: center;"><input type="radio" name="evaluationRadioEdit" id="lowRadioEdit">Low</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="targetImplementationEdit">Target Implementation Date and Time</label>
                                        @Html.TextBoxFor(c => c.TargetImplementation, new { @class = "form-control form-control-sm", id = "targetImplementationEdit", type = "datetime-local", name = "targetImplementationEdit" })
                                        <input type="hidden" name="targetImplementationTemp" value="" id="targetImplementationTemp" />
                                    </div>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                            <label style="color: #333; font-size: 15px;">Change Management Sign-off</label>

                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="insertSignOff">Printed Name</label>
                                        @if (ViewData["SignOff"] != null)
                                        {
                                            @Html.DropDownList("SignOff", (IEnumerable<SelectListItem>)ViewBag.SignOff, new { @class = "form-control" })
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3 text-right">
                                    <button type="button" class="btn btn-fill btn-primary btn-sm pull-right" id="insertSignOffEdit" style="width:100%;margin-bottom:10px;">Add to the list</button>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-12">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped text-center" id="signOffTableEdit">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Role</th>
                                                    <th class="td-id-cont">Id</th>
                                                    <th class="td-id-cont">Approved</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <label id='signOffErrorEdit' class='error' style="display: block;">Sign-off info is required</label>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid black;" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-success" id="btnUpdate" data-edit-id="">Save changes</button>
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteCmdUrl" data-request-url="@Url.Action("Delete", "Cmd")"></div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/form-validation")
    @Scripts.Render("~/bundles/character-counter")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/bootstrapnotify")
    @Scripts.Render("~/bundles/ChangeManagementViewModel")
}