@model ChangeManagementSystem.Models.ChangeManagementModels

@{
    ViewBag.Title = "Index";
}

<div id="getAllRoleUrl" data-request-url="@Url.Action("GetAll", "Roles")"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <input type='button' class='btn btn-fill btn-success' data-toggle='modal' data-target='#insertJobRoleModal' value='Add New Job Role' style='width: 30%; float: right; margin-bottom: 15px; margin-top: 15px; margin-right: 15px; clear: both;' />
                <div class="header">
                    <h4 class="title">Job Roles</h4>
                    <p class="category">View, Update or Delete Job Roles</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped text-center" id="rolesList">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Job Role Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="insertJobRoleUrl" data-request-url="@Url.Action("Save", "Roles")"></div>
<div class="container-fluid">
    <div class="modal fade" id="insertJobRoleModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title">Create Job Role</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="newJobRoleForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="JobRoleName">Job Role</label>
                                        <input type="text" class="form-control form-control-sm" id="JobRoleName" name="JobRoleName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="content table-responsive text-center">
                                    <table class="table table-hover table-striped text-center">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-left">Privileges</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">

                                                    <p>Implement Changes</p>
                                                </td>

                                                <td>
                                                    <div class="form-group" style="padding: 5px; text-align: right;">
                                                        <fieldset class="fieldset">
                                                            <label class="radio-inline allow-radio" style="text-align: center;"><input type="radio" name="actionRadio" id="allowRadio">Allow</label>
                                                            <label class="radio-inline deny-radio" style="text-align: center;"><input type="radio" name="actionRadio" id="denyRadio">Deny</label>
                                                        </fieldset>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-fill btn-success" id="btnInsertRole">Save</a>
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="findRoleUrl" data-request-url="@Url.Action("Find", "Roles")"></div>
<div class="container-fluid">
    <div class="modal fade" id="viewPrivilegeModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title" id="viewPrivilegesModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="viewJobRoleForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="content table-responsive text-center">
                                    <table class="table table-hover table-striped text-center">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-left">Privileges</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">

                                                    <p>Implement Changes</p>
                                                </td>

                                                <td>
                                                    <div class="form-group" style="padding: 5px; text-align: right;">
                                                        <fieldset class="fieldset">
                                                            <label class="radio-inline allow-radio" style="text-align: center;"><input type="radio" name="actionRadioView" id="allowRadioView" disabled>Allow</label>
                                                            <label class="radio-inline deny-radio" style="text-align: center;"><input type="radio" name="actionRadioView" id="denyRadioView" disabled>Deny</label>
                                                        </fieldset>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="updateJobRoleUrl" data-request-url="@Url.Action("Update", "Roles")"></div>
<div class="container-fluid">
    <div class="modal fade" id="editPrivilegeModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title" id="editPrivilegesModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="editJobRoleForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="JobRoleName">Job Role</label>
                                        <input type="text" class="form-control form-control-sm" id="JobRoleNameEdit" name="JobRoleNameEdit">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="content table-responsive text-center">
                                    <table class="table table-hover table-striped text-center">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="text-left">Privileges</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">

                                                    <p>Implement Changes</p>
                                                </td>

                                                <td>
                                                    <div class="form-group" style="padding: 5px; text-align: right;">
                                                        <fieldset class="fieldset">
                                                            <label class="radio-inline allow-radio" style="text-align: center;"><input type="radio" name="actionRadioEdit" id="allowRadioEdit">Allow</label>
                                                            <label class="radio-inline deny-radio" style="text-align: center;"><input type="radio" name="actionRadioEdit" id="denyRadioEdit">Deny</label>
                                                        </fieldset>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-success" id="btnUpdatePrivilege" data-edit-id="">Save changes</button>
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/form-validation")
    @Scripts.Render("~/bundles/bootstrapnotify")
    @Scripts.Render("~/bundles/JobRoleViewModel")
}