@using Microsoft.AspNet.Identity
@using ChangeManagementSystem.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CMS | @(ViewBag.Current)</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/peicon")
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")" class="simple-text">
                        @*<img src="~/Content/img/favicon.png" alt="CMS Icon" width="32px" />*@
                        <span style="font-size:16px;text-transform:capitalize;">Change Management System</span>
                    </a>
                </div>
                <ul class="nav">
                    <li class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "New Change Document" ? "active" : "")">
                        <a href="@Url.Action("New", "Cmd")">
                            <i class="pe-7s-note2"></i>
                            <p>Add New</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Manage Change Document" ? "active" : "")">
                        <a href="@Url.Action("All", "Cmd")">
                            <i class="pe-7s-folder"></i>
                            <p>View All</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.Current == "Change Document History" ? "active" : "")">
                        <a href="@Url.Action("History", "Cmd")">
                            <i class="pe-7s-box1"></i>
                            <p>CMD History</p>
                        </a>
                    </li>

                    <li class="@(ViewBag.Current == "Change Document Calendar" ? "active" : "")">
                        <a href="@Url.Action("Calendar", "Cmd")">
                            <i class="pe-7s-date"></i>
                            <p>View Calendar</p>
                        </a>
                    </li>

                    @if(User.IsInRole(AccountRoleName.Administrator)){
                    <li class="@(ViewBag.Current == "Manage User Account" ? "active" : "")">
                        <a href="@Url.Action("All", "Account")">
                            <i class="pe-7s-id"></i>
                            <p>User Account</p>
                        </a>
                    </li>   
                    }

                    <li class="@(ViewBag.Current == "Manage Application" ? "nav-item active" : "nav-item")">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#componentsExamples" aria-expanded="false">
                            <i class="pe-7s-config"></i>
                            <p>
                                Maintenance
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="componentsExamples">
                            <ul class="nav">
                                <li class="@(ViewBag.Current == "Manage Application" ? "nav-item active" : "")">
                                    <a class="" href="@Url.Action("All", "Application")">
                                        <p>
                                            Manage Applications
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:void(0);">@(ViewBag.Current)</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="javascript:void(0);">
                                        <p>Hello @User.Identity.Name!</p>
                                    </a>
                                </li>
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            Dropdown
                                            <b class="caret"></b>
                                        </p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>*@
                                @Html.AntiForgeryToken()

                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        Log out
                                    </a>

                                </li>
                                <li class="separator hidden-lg"></li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
                                <a href="@Url.Action("Index", "Home")">
                                    Dashboard
                                </a>
                            </li>
                            <li class="@(ViewBag.Current == "New Change Document" ? "active" : "")">
                                <a href="@Url.Action("New", "Cmd")">
                                    Add New
                                </a>
                            </li>
                            <li class="@(ViewBag.Current == "Manage Change Document" ? "active" : "")">
                                <a href="@Url.Action("All", "Cmd")">
                                    View All
                                </a>
                            </li>
                            <li class="@(ViewBag.Current == "Change Document History" ? "active" : "")">
                                <a href="@Url.Action("History", "Cmd")">
                                    CMD History
                                </a>
                            </li>

                            <li class="@(ViewBag.Current == "Change Document Calendar" ? "active" : "")">
                                <a href="@Url.Action("Calendar", "Cmd")">
                                    View Calendar
                                </a>
                            </li>

                            @if (User.IsInRole(AccountRoleName.Administrator))
                            {
                                <li class="@(ViewBag.Current == "Manage User Account" ? "active" : "")">
                                    <a href="@Url.Action("All", "Account")">
                                        User Account
                                    </a>
                                </li>
                            }
                            
                            <li class="@(ViewBag.Current == "Manage Application" ? "nav-item active" : "")">
                                <a class="" href="@Url.Action("All", "Application")">
                                    Manage Applications
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> Change Management System
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <div class="container-fluid">
        <div class="modal fade" id="viewAccountInfoModal" tabindex="-1" role="dialog" data-backdrop="false">
            <div class="modal-dialog" role="document">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                        <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                        <h4 class="modal-title">View Change Management Document</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="newChangeDocumentForm">
                            @Html.AntiForgeryToken()
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="changeObjectiveView">Objective</label>
                                            <textarea class="form-control form-control-sm" id="changeObjectiveView" name="changeObjectiveView" rows="3" readonly></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="changeTypeView">Type</label>
                                            <select class="form-control form-control-sm" id="changeTypeView" name="changeTypeView" disabled>
                                                <option value="1">Corrective Patch</option>
                                                <option value="2">New Function</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="changeRequirementView">Management Requirement</label>
                                            <textarea class="form-control form-control-sm" id="changeRequirementView" name="changeRequirementView" rows="3" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr style="border-bottom: 1px solid black;" />
                                <label style="color: #333; font-size: 15px;">Affected Areas</label>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col">
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped text-center" id="affectedAreasTableView">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th class="text-center">Application(s)</th>
                                                        <th class="text-center">Database & Table(s)</th>
                                                        <th class="text-center">Server(s)/ IP(s)</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr style="border-bottom: 1px solid black;" />
                                <div class="row">
                                    <div class="col-md-6" style="margin-bottom: 25px;">
                                        <div class="form-group">
                                            <label for="requestEvaluationView">Request Evaluation</label>
                                            <input type="text" class="form-control form-control-sm" id="requestEvaluationView" name="requestEvaluationView" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="targetImplementationView">Target Implementation Date and Time</label>
                                            <input type="text" class="form-control form-control-sm" id="targetImplementationView" name="targetImplementationView" readonly>
                                        </div>
                                    </div>
                                </div>
                                <hr style="border-bottom: 1px solid black;" />
                                <label style="color: #333; font-size: 15px;">Change Management Sign-off</label>
                                <br /><br />
                                <label style="color: #333; font-size: 13px;">Requestor:</label>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" id="requestorView" name="requestorView" readonly>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <label style="color: #333; font-size: 13px;">Reviewed by:</label>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col">
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped text-center" id="signOffTableView">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th class="text-center">Name</th>
                                                        <th class="text-center">Role</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr style="border-bottom: 1px solid black;" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-fill btn-primary" id="btnGenerate" data-generate-id="">Generate Document</a>
                        <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    @Scripts.Render("~/bundles/datatable")
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chartist")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/tooltip")
    @Scripts.Render("~/bundles/bootstrapnotify")
    @Scripts.Render("~/bundles/lightbootstrap")
    @Scripts.Render("~/bundles/dateformat")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</html>
