@model ChangeManagementSystem.Models.RegisterViewModel

@*@model ChangeManagementSystem.Models.ChangeManagementModels*@

@{
    ViewBag.Title = "Index";
}

<div id="allAccountUrl" data-request-url="@Url.Action("GetAll", "Account")"></div>
<div class="container-fluid">
    @Html.ValidationMessage("registerError")
    @Html.ValidationMessage("modelError")
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col">
            <div class="card">
                <input type='button' class='btn btn-fill btn-success' data-toggle='modal' data-target='#insertUserAccountModal' value='Add New Account' style='width: 30%; float: right; margin-bottom: 15px; margin-top: 15px; margin-right: 15px; clear: both;' />
                <div class="header">
                    <h4 class="title">Change Management Document User</h4>
                    <p class="category">View, Update or Delete User Account</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped text-center" id="accountList">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Role</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="insertAccountUrl" data-request-url="@Url.Action("Register", "Account")"></div>
<div class="container-fluid">
    <div class="modal fade" id="insertUserAccountModal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2471d1; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
                    <h4 class="modal-title">Create User Account</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="newUserAccountForm">
                        @Html.AntiForgeryToken()
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Lastname">Lastname</label>
                                        <input type="text" class="form-control form-control-sm" id="Lastname" name="Lastname">
                                        @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Firstname">Firstname</label>
                                        <input type="text" class="form-control form-control-sm" id="Firstname" name="Firstname">
                                        @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="UserName">Username</label>
                                        <input type="text" class="form-control form-control-sm" id="UserName" name="UserName">
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control form-control-sm" id="Password" name="Password">
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control form-control-sm" id="ConfirmPassword" name="ConfirmPassword">
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="JobRole">Job Role</label>
                                        @if (ViewData["JobRole"] != null)
                                        {
                                            @Html.DropDownList("JobRole", (IEnumerable<SelectListItem>)ViewBag.JobRole, new { @class = "form-control" })
                                        }
                                    </div>
                                </div>

                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="AccountRole">Account Role</label>
                                            @if (ViewData["AccountRole"] != null)
                                            {
                                                @Html.DropDownList("AccountRole", (IEnumerable<SelectListItem>)ViewBag.AccountRole, new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-fill btn-success" id="btnInsertAccount">Save</a>
                    <button type="button" class="btn btn-fill btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>